body {
    margin: 0;
    padding: 0;
    background: #ddd;
}

.error {
    text-align: center;
    background-color: white;
}

.center {
    text-align: center;
    margin: auto;
}

header > img {
    margin: 10px auto 10px auto;
    width: 300px;
    display: block;
}

#crazyUnicorn {
    margin: 0 auto;
    width: 933px;
    height: 653px;

    border-radius: 5px;
    border: 6px solid #c9467a;
}