body {
    margin: 0;
    background: #2B2E31 url(../assets/img/screen-bg.png) repeat;
}

.error {
    text-align: center;
    background-color: white;
}

#crazyUnicorn {
    margin: 40px auto 40px auto;
    width: 950px;
    height: 500px;
}