*{
    overflow-y: auto;
    overflow-x: hidden;
}
    
body {
    margin: 0;
    padding: 0;
    background: #ddd;
    background: url(../assets/img/site/background.png) no-repeat;
}

.error {
    text-align: center;
    background-color: white;
}

.center {
    text-align: center;
    margin: auto;
}

header > img {
    margin: 10px auto 10px auto;
    width: 800px;
    display: block;
}

#crazyUnicorn {
    margin: 0 auto;
    width: 933px;
    height: 653px;

    border-radius: 5px;
    border: 6px solid #c9467a;
}

.imgDynam{
    width: 100px;
    display: inline;
}

.animFusee{
    -webkit-animation: animFusee 5s infinite;
    animation: animFusee 5s infinite;
    position :relative;
    margin-bottom: -80px;
}

@-webkit-keyframes animFusee {
    0%   {left: -100px; top: 100px;}
    100% {left: 300px; top: -300px;}
}

@keyframes animFusee {
    0%   {left: -100px; top: 100px;}
    100% {left: 300px; top: -300px;}
}

.animSoucoupe{
    -webkit-animation: animSoucoupe 5s infinite;
    animation: animSoucoupe 5s infinite;
    position :relative;
    margin-bottom: -80px;
}

@-webkit-keyframes animSoucoupe {
    0%   {left: 1800px; right: -100px; top: 150px;}
    50%  {left: 1600px; right: 0px; top: 150px;}
    100% {left: 1600px; right: 0px; top: -300px;}
}

@keyframes animSoucoupe {
    0%   {left: 1800px; right: -100px; top: 150px;}
    50%  {left: 1600px; right: 0px; top: 150px;}
    100% {left: 1600px; right: 0px; top: -300px;}
}


